<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

# Se o caminho for /obras e não for um arquivo real, força carregar o index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^obras(/.*)?$ /index.html [L]

# Roteamento padrão para SPA
RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
